.row
  .col-md-4(style='font-size: 11px;')
    span.fa.fa-location-arrow
    span(style='padding-left: 5px;') Savannah Community Arena, 1 Sams Way, Savannah, GA 31401
    br
    span.fa.fa-phone
    span(style='padding-left: 5px;') 912.000.0000 
  .col-md-4.pull-right(style='font-size: 11px;')  
    span(style='font-size: 24px;')
      a.social-icon.fa.fa-envelope(href='mailto:contact@samswebs.com', target='_blank', aria-label='Email')
      a.social-icon.fa.fa-google(href='', target='_blank', aria-label='Google')
      a.social-icon.fa.fa-twitter(href='', target='_blank', aria-label='Twitter')
      a.social-icon.fa.fa-instagram(href='', target='_blank', aria-label='Instagram')
    br
    | Copyright &copy; #{(new Date()).getFullYear().toString()} Sams Webs Consulting, LLC.
  .col-md-4(style='font-size: 11px;') 
    span.fa.fa-gavel: a(href='terms' style='padding-left: 5px;') &nbsp;&nbsp;Terms &amp; Conditons
    br
    span.fa.fa-gavel: a(href='/privacy' style='padding-left: 5px;') &nbsp;&nbsp;Privacy Policy
